.SideBar{
    min-width: 50px;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 12px;
    box-shadow: 2px 2px 16px -3px rgba(0, 0, 0,12%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    z-index: 99;
    transition: 0.6s;
}


.SideBar-lg{
    min-width: 250px !important;
}

.SideBar a{
    text-decoration: none;
    font-weight: 500;
    color: #6F8695;

}

.SideBar-top-menu,.SideBar-bottom-menu{
    width: 100%;
}

.SideBar-icon{
    width: 20px;
}

.SideBar-menu{
    fill: #6F8695;
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SideBar-menu:hover{
    fill: #F08246;
    color: #F08246;
    background-color: #fee9de;
}

.active{
    fill: #F08246;
    color: #F08246 !important;
}

.active::before{
    content: " ";
    height: 15px;
    width: 5px;
    background-color: #F08246;
    border-radius: 12px;
    position: absolute;
    left: 0;
}

.SideBar-dark{
    background-color: #36414868;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0px;
    z-index: 98;
}

.SideBar-label-menu{
    min-width: 80px;
    height:100%;
    display: flex !important;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    transition: 0.6s;
}


.show{
    opacity: 1;
    display: block;
}
.hide{
    opacity: 0;
    display: none !important; 
}


