body{
    background-color: #f08246;
}
.logT{
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh;
}

.log-container{
    box-shadow: 1px 1px 16px -7px rgb(0, 0, 0);
    border-radius: 12px;
    width: 60%;
    height:55%;
    overflow: hidden;
    background-color: white;
}

.img{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #22292e;
    flex-direction: column;
}

.bar{
    width: 80%;
    height: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f08246;
}

.form{
    display: flex;
    justify-content: center;
    align-self: center;
}

.form form{
    width: 300px;
    padding: 10px;
}