.main-chatte {
    height: 100%;
}

.bg-light {
    background-color: rgb(234, 239, 242) !important;
}

.search-in-chatte-list-user {
    background-color: white;
    padding: 10px;
    border-radius: 12px;
}

.chatte-list-user {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    height: calc((100%/12)*10);
    /* height: 80%; */
    overflow-y: auto;
    overflow-x: hidden;
}

.chatte-user {
    display: flex;
    width: 100%;
    height: 70px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-decoration: none;
}

.chatte-list-user .chatte-user:hover {
    background-color: rgba(203, 209, 219, 0.313);
}

.chatte-user .img-chatte-user {
    width: 60px;
    height: 60px;
}

.chatte-user .img-chatte-user img {
    width: 100%;
    clip-path: circle();
}

.chatte-user .chatte-user-info {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px rgb(231, 231, 231) solid;
    width: 80%;
}

.chatte-user .chatte-user-info p,
.chatte-user .chatte-user-info h6 {
    margin-bottom: 0;
}

.chatte-user .chatte-user-info p {
    font-weight: 100px;
    font-size: 14px;
    color: gray;
}

.chatte-user .chatte-user-info h6 {
    font-weight: normal;
    font-size: 18px;
    color: gray;
}

#bo-message {
    height: 100vh;
}

.chatte-list-message {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    height: 100%;
    position: relative;
}

.scroll {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom:65px;
    overflow-y: scroll;
    scrollbar-color: #f08246;
    scrollbar-width: thin;
    padding: 20px;
}

.other-user-chatte-message {
    display: flex;
    justify-content: left;
    margin-top: 20px;
}

.my-chatte-message {
    display: flex;
    justify-content: right;
    margin-top: 10px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.other-user-chatte-message .chatte-message-content {
    width: auto;
    max-width: 400px;
    height: auto;
    background-color: rgb(191, 200, 216);
    color: rgb(81, 75, 68);
    border-radius: 0 12px 12px 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.my-chatte-message .chatte-message-content {
    width: auto;
    height: auto;
    max-width: 400px;
    background-color: rgb(51, 142, 239);
    color: white;
    border-radius: 12px 0 12px 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.sendMssg {
    height: 65px;
    background-color: #FDFFFF;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 1px -5px 16px -7px #d6cfc85b;
    border-radius: 0px 0 12px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sendBtn {
    color: #f08246 !important;
}