html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    
  }

  /* ::-webkit-scrollbar-button{
    width: 8px;
    background-color: bisque;
  } */
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f08246da;
    border-radius: 12px;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #f08246;
    
  }

.body{
    margin-left: 50px;
    padding: 20px;
}

.app-categorie-cours{
    
}

.book{
    height: 300px;
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 18px -5px #00000091;
    position: relative;
    
    transition: 0.6s;
}

.swiper-slide{
    width: 210px !important;
}
 .book:hover{
    /* margin-top: -20px; */
 }

 .book .title-book{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color:#f08246da;
    color: #FDFFFF !important;
    text-align: center !important;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
 }

 .book .title-book:hover{
    color: #FDFFFF !important;
    font-size: 24px !important;
    font-weight: bolder !important;
    opacity: 1;
 }


.book img {
    height: 100%;
    width: 102%;
}


.video-card{
    height: 200px;
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 5px 18px -5px #00000091;
    text-decoration: none;
    color: #162025;
    margin-bottom: 20px;
    transition: 0.6s;
}
.video-card:hover{
    text-align: center !important;
}

.video-card video{
     /* height: 100%; */
    width: 150%;
    /* border-radius: 12px; */
}

.video-card .tag-user{
    background-color: rgba(255, 255, 255, 0.916);
    width: 150px ;
    display: flex;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 34px;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    box-shadow: 0 0 10px -5px #00000091;
}

.video-card .tag-user .tag-img {
    width:30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.video-card .tag-user .tag-img  img{
    width: 100%;
    /* clip-path: circle(); */
}

.video-card .tag-user h6{
    color: #162025 !important;
    margin-left: 10px;
    margin-top: 5px;
}

.video-card .label-video{
    height: 30%;
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    background-color: #1620259d;
    /* background-color: #f08246da; */
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    transition: .6s;
}

.video-card .label-video *{
    transition: .6s;
}

.label-video-full{
    background-color: #f08246da !important;
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body{
    position: relative;
    padding-top: 70px;
}


.app-categorie-cours{
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;

}

.app-categorie-cours .app-categorie-cnt-btn .categorie-btn{
    width: auto;
    background-color: rgb(230, 235, 240);
    color: rgb(108, 111, 124);
}

.app-categorie-cours .app-categorie-cnt-btn .categorie-btn:hover{
    color: white;
    background-color: rgb(191, 203, 215);
}

.app-categorie-cours .app-categorie-cnt-btn .categorie-btn-active{
    background-color: #24201f;
    color: white;
}

.app-categorie-cours .app-categorie-cnt-btn .categorie-btn-active:hover{
    background-color: #24201f;
}

.btn-orange{
    background-color: #f08246;
    color: white;
    padding-bottom: 8px;
    padding-top: 5px;
    transition: .6s;
}

.btn-orange:hover{
    background-color: #24201f;
    color: white;
}

.list-video-item{
    min-height: 100px !important;
    max-height: 200px !important;
    padding-bottom: 10px !important;
    margin-top: 16px !important;
}

.bloc-mini-video{
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.mini-video{
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
}

.play-video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1016187d;
    color: #ffffff82;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .6s;
}

.play-video:hover{
    background-color: #101618ad;
    color: #ffffff;
}



.btn-sm-square{
    height: 35px !important;
    width: 35px !important;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    border-radius: 32px;
    background-color: #f2f4f5;
    font-size: 18px;
    border: none !important;
}

.btn-sm-square:hover{
    color: gray;
    background-color: #e6e6e6;
}

.dropdown{
    position: relative;
}

.dropdown-menu {
    right: 0;
}

.h-b{
    height: calc((100vh/12)*9);
    display: flex;
    align-items: center;

}
