.app-sing{
    width: 100%;
    height: 100vh;
    padding: 20px;
}

.input-group-text{
    border: none;
    background-color: #fff2e9;
    fill: #f5d4c3 ;
    
    transition: .2s;
}

.input-group-text svg{
    width: 25px;
    height: 25px;
    transition: .2s;
}

.focIc{
    fill: #F08246 ;
}

.super-form{
    width: 440px;
    border-radius: 12px;
    box-shadow: 0 0 16px -3px #c99e8475;
    background-color: #fff;
    overflow: hidden;
    transition: .6s !important;
}

#form-singIn,#form-singUp{
    padding: 20px;
    
}

.ct{
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ct form{
    width: 100%;
    
}

.onglet{
    height: 50px;
    background-color: #ffeadf55;
    color: #6F8695;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    transition: .6s;
}

.onglet:hover{
    color: #F08246;
    background-color: #ffe2d3;
}

.onglet:focus{
   box-shadow: none;
}


.onglet-active{
    background-color: #fff;
    /* border-bottom: 5px solid #F08246; */
    color: #F08246;
}

#container-right{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../assets/images/img.svg");
    background-size:contain ;
    
}

#container-left{
    display: flex;
    justify-content: center;
    align-items: center;    
}

#container-left::after{
    content: " ";
    position: absolute;
    background-color: #16202F;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%; 
    z-index: -1;   
}


.btn-log{
    background-color: #F08246;
    color: #fff;
    font-weight: bolder;
    height: 45px;
    border-radius: 12px;
}

.btn-log:hover{
    background-color: #fe9d69;
    color: #fff;
}

.btn-google{
    border: 2px solid #ffd5b4;
    color: #ff9b3e;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.btn-google:hover{
    color: #ff9b3e;
    background-color: #ffeadf42;
}

.btn-google svg{
    width: 20px;
}

.log-hide{
    display: none;
}

.stac-photo{
    position: relative;
    height: 400px;
    width: 520px;
    transition: 0.6s !important;
}
.sing-img{
    overflow: hidden;
    width: 250px;
    height: 340px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 12px;
    box-shadow: 0 0 16px -3px #7b7b7ba4;
    transition: 0.6s !important;
}

.sing-img img{
    height: 100%;
}

.img-left{
    position:absolute;
    top: 0;
    left: 0;
    z-index: 6;
    transition: 0.6s !important;
}

.img-right{
    position:absolute;
    bottom: 0;
    right:0;
    transition: 0.6s !important;
}