.courses-nav{
    border-bottom: 1px solid #9e9e9e;
    display: flex;
    padding-left: 20px;
}

.courses-nav .courses-nav-item{
    text-decoration: none;
    color: #252320;
    display: block;
    font-weight: bolder;
    padding:10px;
    padding-top:5px;
    padding-bottom:5px;
}

.nav-active{
    border-radius: 8px 8px 0 0;
    background-color: #e8e8e8;
    border-bottom: #252320 3px solid;
}


