.top-bar{
    background-color: white;
    position: fixed;
    height: 60px;
    left: 50px;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 5px 16px -7px #d7cfc871;
    padding-left:30px ;
    padding-right:30px ;
    z-index: 90;
}

.top-bar .top-bar-drop-menu-user .menu-user{
    display: block;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    background-color: rgb(179, 194, 208);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 20px;
}

.top-bar .top-bar-drop-menu-user .menu-user:hover{
    background-color: rgb(129, 150, 168);
}

.top-bar .top-bar-drop-menu-user .drop-menu{
    position: absolute;
    top: 70px;
    right: 20px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 8px 0px #d7cfc871;
    border-radius: 8px;
    display: none;
    transition: .6s;
    
}

.top-bar .top-bar-drop-menu-user .drop-menu .drop-menu-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: #6F8695;
}

.icon-profile {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: rgb(255, 140, 0) !important;
}

.top-bar .top-bar-drop-menu-user .drop-menu .drop-menu-content .drop-menu-item{
    color: #6F8695;
    text-decoration: none;
    padding: 10px;
    border-bottom:1px solid #6f869552;
    width: 90%;
}

.top-bar .top-bar-drop-menu-user .drop-menu .drop-menu-content .drop-menu-item{
    color: #6F8695;
    text-decoration: none;
    padding: 5px;
    border-bottom:1px solid #6f869511;
    width: 90%;
    display: flex;
    align-items: center;
    
    transition: .6s;
}

.top-bar .top-bar-drop-menu-user .drop-menu .drop-menu-content .drop-menu-item:hover{
   background-color: #efefef;
   color: #484f53;
   border-radius: 4px;
}

.top-bar .top-bar-drop-menu-user .drop-menu .drop-menu-content .drop-menu-item svg{
    margin-right: 10px;
    margin-left: 30%;
}
